.common{
    .el-pagination__total{
        float: left !important;
        margin-left: 5px; 
    }
    .el-table th{
        color: black;
    }
    .el-pagination__jump{
        margin-right: 30px;
    }
    .preBtn{
        border: 1px solid;
        padding: 0 7px;
        border-radius: 5px;
        height: 25px;
        line-height: 24px;
    }
} 





