.vertical_table {
  font-size: 15px;
  border-collapse: collapse;
  table-layout: fixed;
  th,
  td {
    border: 1px solid #ebeef5;
    padding: 12px;
    text-align: left;
  }
  &.small {
    th,
    td {
      padding: 8px 5px !important;
    }
    font-size: 14px !important;
  }
}
