// Text color
@include text-emphasis-variant('.text-primary', $brand-primary);
@include text-emphasis-variant('.text-secondary', $brand-secondary);
@include text-emphasis-variant('.text-info', $brand-info);
@include text-emphasis-variant('.text-success', $brand-success);
@include text-emphasis-variant('.text-warning', $brand-warning);
@include text-emphasis-variant('.text-danger', $brand-danger);
@include text-emphasis-variant('.text-black', $black);
@include text-emphasis-variant('.text-black-light', $black-light);
@include text-emphasis-variant('.text-black-default', $black-default);
@include text-emphasis-variant('.text-gray', $gray);
@include text-emphasis-variant('.text-gray-light', $gray-light);
@include text-emphasis-variant('.text-gray-default', $gray-default);
@include text-emphasis-variant('.text-white', $white);

// Text size
@for $size from 12 through 40 {
  .text-#{$size} {
    font-size: $size * 1px !important;
  }
}

// Text overflow
.text-truncate {
  @include text-truncate();
}

@for $line from 1 through 10 {
  .text-clamp-#{$line} {
    @include text-truncate-clamp($line);
  }
}

// Responsive alignment
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics
.font-weight-normal { font-weight: normal !important; }
.font-weight-bold   { font-weight: bold !important; }
.font-italic        { font-style: italic !important; }

// Cursor
.cursor-pointer { cursor: pointer !important; }
.cursor-default { cursor: default !important; }

// Line height
.line-height    { line-height: 1 !important; }
.line-height-20 { line-height: 20px !important; }
.line-height-25 { line-height: 25px !important; }
.line-height-30 { line-height: 30px !important; }
.line-height-35 { line-height: 35px !important; }
.line-height-40 { line-height: 40px !important; }
.line-height-50 { line-height: 50px !important; }

// White space
.ws-nowrap    { white-space: nowrap; }
.ws-pre-wrap  { white-space: pre-wrap; }

// Word break
.wb-break-all { word-break: break-all; }
.wb-keep-all  { word-break: keep-all; }

// Underline
.text-decoration-none      {text-decoration: none !important; }
.text-decoration-under      {text-decoration: underline !important; }
